

 .education, .skills {
  height: 100vh;
}
.logo {
  width: 5rem;
}
.footer-social-links svg {
  margin-left: 1.5rem;
  font-size: 1.5rem;
  color: #ea384d;
}

.footer-navigation {
  float: right;
  margin: 2rem 5rem;
}
.footer-navigation a { 
  text-decoration: none;
  display: inline-block;
  padding-bottom: 0.5rem;
  transition: .35s border-bottom ease;
}

.footer-navigation a {
  text-decoration: underline;
  color: #ea384d;
  margin: 0.4rem;
}

.skills {
  background: linear-gradient(to right bottom, rgba(211,16,39, 0.8), #ea384d);
  color: #fff;
  padding-top: 10vh;
  clip-path: polygon(0 10vh, 0 100%, 100% 90vh, 100% 0);
}
.education {
  padding-top: 10vh;
  clip-path: polygon(0 0, 0 90vh, 100% 100%, 100% 10vh);
}
.skills ul li {
  list-style-type: none;
  margin: 1.5rem 0;
}
.skills ul {
  padding-left: 0;
}
.skills {
  text-transform: uppercase;
}
