/*
Education section
*/

@import './mixin';
@import './variables';

.education {
    padding: 10vh 0 4vh;
    height: auto;
    @include respond(large) {
        height: 100vh;
    }
    img {
        max-width: 100%;;
    }
    .text-left {
        text-align: left;
        border-bottom: 0.025vw $black solid;
        padding: 2vw;
        @include respond(large) {
            border-bottom: 0.050rem $black solid;
            padding: 1rem 0;
        }
        p {
            margin-top: 2vw;
            @include respond(large) {
                margin-top: 1rem;
            }
        }
    }
    .img-column {
        padding: 2vw;
        @include respond(large) {
            padding: 1rem 0;
        }
    }
}