/*
Experience section
*/

@import './mixin';
@import './variables';

.experience {
    background: linear-gradient(to right bottom, rgba(211,16,39, 0.8), $red);
    color: $white;
    padding: 10vh 0 4vh;
    height: auto;
    img {
        max-width: 100%;;
    }
    .text-left {
        text-align: left;
        border-bottom: 0.025vw $white solid;
        padding: 2vw;
        @include respond(large) {
            border-bottom: 0.050rem $white solid;
            padding: 1rem 0;
        }
        p {
            margin-top: 2vw;
            @include respond(large) {
                margin-top: 1rem;
            }
        }
    }
    .img-column {
        padding: 2vw;
        @include respond(large) {
            padding: 1rem 0;
        }
    }
}