/*
Footer section
*/

@import './mixin';
@import './variables';

.logo {
    width: 5rem;
}
.footer-social-links svg {
    margin-left: 1.5rem;
    font-size: 1.5rem;
    color: $red;
}

.footer-navigation {
    text-align: center;
    max-width: 100vw;
    height: 20vh;
    padding-top: 20vw;
    background: linear-gradient(to right bottom, rgba(211,16,39, 0.8), $red);
    clip-path: polygon(0 10vh, 0 100%, 100% 100%, 100% 0);
    @include respond(xsmall) {
        padding-top: 15vw;
        height: auto;
    }
    @include respond(large) {
        text-align: right;
        padding: 10vh;
    }
    a {
        color: $white;
        text-decoration: underline;
        margin: 0.8vw;
        display: inline-block;
        @include respond(medium) {
            margin: 0.4rem;
        }
    }
}