/* 
Home Banner                   

*/ 
@import './mixin'; 
@import './variables';

.home-banner {
    color: $white;
    height: 25vh;
    background-image: linear-gradient( rgba(211,16,39, 0.1),$red), url("../images/portfolio.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    @include respond(large) {
        height: 100vh;
        background-attachment: fixed;
    }
    .profile {
        @include respond(small-only) {
            color: $black;
            transform: translateY(15vw);
        }
    }
    h1, h3 ,h4 {
        text-align: center;
    }
    h3, h4 {
        font-weight: 300;
    }
    img {
        border: 0.5rem $white solid;
        border-radius: 50%;
        transform: translateX(17vw);
        @include respond(large) {
            transform: translate(25vh, 90vh);
        }
    }
    .social-links {
        font-size: 5vw;
        //transform: translate(71vw,-45vw);
        display: none;
        @include respond(large) {
            display: block;
            font-size: 1.5rem;
            transform: translate(-5vw, 52vh);
            float: right;
        }
        svg {
            font-size: 5vw;
            font-weight: 400;
            color: $white;
            margin-left: 2vw;
            @include respond(large) {
                font-size: 1.5rem;
                margin-left: 1.5rem;
            }
        }
    }
}  