/*
Project section
*/
@import './mixin';
@import './variables';

.projects {
    background: linear-gradient(to right bottom, rgba(211,16,39, 0.8), $red);
    color: $white;
    padding: 10vh 0 4vh;
    height: auto;
    a {
    	font-size: 1rem;
    	font-weight: 300;
    	color: $white;
    	vertical-align: middle;
    }
    ul {
    	li {
    		list-style-type: none;
    		position: relative;
    		padding-left: 0.8rem;
    		&::before {
    			content: "\002D";
    			font-weight: bold;
    			position: absolute;
    			left: 0;
    			top: -0.1rem;
    		}
    	}
    }
}