/*
Project section
*/
@import './mixin';
@import './variables';

.projects {
    background: linear-gradient(to right bottom, rgba(211,16,39, 0.8), $red);
    color: $white;
    padding: 10vh 0 4vh;
    height: auto;
    @include respond(large) {
        height: 100vh;
    }
}