/*
Skills section
*/
@import './mixin';
@import './variables';

.skills {
    text-transform: uppercase;
    height: auto;
    padding: 10vh 0 4vh;
    @include respond(large) {
        height: 100vh;
    }
    ul {
        padding-left: 0;
        li {
            list-style-type: none;
            margin: 1.5vw 0;
            @include respond(large) {
                margin: 1.5rem 0;
            }
            svg {
                color: $red;
            }
            span {
                padding: 1rem;
                svg {
                    margin: 0.5rem;
                } 
            }
        }
    }
}

